@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topheader{
  box-shadow: 0 4px 5px var(--navbar-shallow-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(51, 3, 51);
}

.main{
  font-family: 'Montserrat', sans-serif;
  scroll-margin-top: 70px;
  padding-top: 80px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(51, 3, 51);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}
.brand {
  margin-top: -7px;
}
.brand span {
  color: rgb(230, 54, 84);
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu  li {
  list-style: none;

}
.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px; 
  font-weight: bolder;
  position: relative;
}

.menu li:hover a{
  background-color: rgb(230, 54, 84);
  color: rgb(51, 3, 51);
}

/* .menu .active {
  color:  rgb(230, 54, 84);
 
} */

.toggle-menu,
.info-content__subtitle,
.info-content__p1,
.info-content .sotial-networks {
  display: none;
}


.menu li a:hover {
  color: white;
}


.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: clamp(4vw, 1.5em, 3em);
}

.info-content p{
  text-align: justify;
}

.info-content span {
  color: rgb(230, 54, 84);
}

.info-content1 img{
  align-items: center;
}

.i-close{
  right: -460px;
  position: relative;
  margin: 5px;
}

.img1{
  width: 445px;
  margin: 1px;
}

.img2{
  width: 490px;
  height: 190px;
  margin: 1px;
  margin-top: 25px;
}

.img3{
  width: 440px;
  height: 180px;
  margin: 5px;
  margin-top: 25px;
}

.img4{
  width: 270px;
  height: 230px;
  margin: 10px;
}

.info-content1 p{
  text-align: center;
}

.info-content2 p{
  text-align: center;
}

.info-content3 p{
  text-align: center;
}

.info-content1 span {
  color: rgb(230, 54, 84);
}

.info-content2 span {
  color: rgb(230, 54, 84);
}

.info-content3 span {
  color: rgb(230, 54, 84);
}

.info-content span {
  color: rgb(230, 54, 84);
}

.download-cv, .project-details-button {
  padding: 10px 20px;
  background-color: rgb(230, 54, 84);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  border:  7px solid rgb(230, 54, 84);
  width: 350px;
  height: 520px;
  min-height: 300px;
  /* z-index: 1; */
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 80%;
  grid-column: 2/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
  color:  rgb(51, 3, 51);
  font-family: Tahoma;
  text-align: justify;
}

.about-info h2 {
  font-size: 2em;
  color: rgb(51, 3, 51);
  font-family: 'Montserrat', sans-serif;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgb(230, 54, 84);
  margin-top: 5px;
  margin-bottom: 2em;
}
.divider1 {
  height: 4px;
  width: 253px;
  background-color: rgb(230, 54, 84);
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
  color: rgb(51, 3, 51);
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color:rgb(51, 3, 51);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.portfolio-heading h1{
  text-align: justify;
}

.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.portfolio .container1 {
  width: 80vw;
  height: 65vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.portfolio .container2 {
  width: 80vw;
  height: 95vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card {
  width: 300px;
  background-color:  rgb(51, 3, 51);
  margin: 1em;
}

.card1 {
  width: 1000px;
  height: 570px;
  background-color:rgb(51, 3, 51);
  margin: 0;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: white;
}


.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  display:flex;
  align-items: center;
}

.contact-form{
  width: 40%;
  margin-left: 100px;
}

.contact-section img {
  width: 750px;
  height: 500px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: rgb(230, 54, 84);
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: rgb(230, 54, 84);
  font-family: 'Montserrat', sans-serif;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.1em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
  color:white;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: rgb(51, 3, 51);
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: rgb(31, 1, 31);
  margin: 1em;
}

.card__img1 {
  width: 100%;
  height: 150px;
  background-image: url(../img/Lenguajes1.webp);
  background-size: cover;
}

.card__img2 {
    width: 100%;
    height: 150px;
    background-image: url(../img/Lenguajes2.webp);
    background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.project-details-button a {
  text-decoration: none;
  color: white;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  margin-top: 10em;
}

.img-cont{
  width: 670px;
  height: 680px;
  bottom: 0px;
  background-image: linear-gradient(rgba(51, 3, 51, 0.877),rgba(51, 3, 51, 0.911)),url(../img/IMG-05922.PNG);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: rgb(230, 54, 84);
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: rgb(230, 54, 84);
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}

#qr_info{
  display: none;
}

#NFT_info{
  display: none;
}

#trans_info{
  display: none;
}

#chat_info{
  display: none;
}

#civil_info{
  display: none;
}

@media screen and (max-width: 800px) {

  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color:rgb(230, 54, 84);
    z-index: 1;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }

  .main{
    height: 150vh;
  }

  .wrapper{
    height: 175vh;
  }

  .show-menu {
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }

  .menu li {
    margin: 2em;
  }

  .menu li:hover a{
    background-color: rgb(230, 54, 84);
    color: rgb(51, 3, 51);
  }
  

  .toggle-menu {
    display: block;
  }

  .fa-bars {
    font-size: 1.5em;
    margin-top: -.2em;
  }

  .toggle-menu .fa-close {
    font-size: 1.7em;
    display: none;
  }

  .main,
  .about {
    display: flex;
    flex-direction: column-reverse;
  }

  .main img {
    width: min(70%, 450px);
    height: 650px;
  }

  .about img{
    width: min(60%, 230px);
    height: 400px;
  }

  .info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info-content .sotial-networks,
  .info-content__subtitle {
    display: block;
  }

  .info-content__subtitle {
    margin-bottom: .5em;
  }

  .info-content .sotial-networks {
    display: flex;
    justify-content: space-evenly;

  }

  .info-content__p,
  .img-cont{
    display: none;
  }

  .info-content__p1{
    display: block;
  }

  .form-group {
    width: 80vw;
  }

  .portfolio .container1{
    height: 150vw;
    display: flex;
    flex-direction: column-reverse;
    padding:0;
  } 

  .portfolio .info-content1{
    height: 90vh;
    width: 100%;
  }

  .portfolio .info-content3{
    height: 20vh;
  }

  .portfolio .portfolio-heading{
    height: 1170vw;
    padding:1em;
  }

  .portfolio{
    height: 1170vw;
  }

  .portfolio .container{
    display: flex;
    flex-direction: column-reverse;
    height: 500vh;
  }

  .portfolio .container2{
    display: flex;
    flex-direction: column-reverse;
    height: 700vh;
    
  }

  .card{
    height: auto;
  }

  .contact-section{
    padding:1em;
  }

  .contact-form{
    margin-left: 0px;
  }

  .container-contact{
    padding: 1em;
  }

  .footer{
    width: 100vw;
    height: 380px;
    padding: 2em;
    text-align: center;
  }

  .card1{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }

  .card1 .info-content1 img{
    width: 100%;
    margin: 0;
  }

  .card1 .i-close{
    right: -150px;
  }

  .img4{
    width: 440px;
    height: 170px;
    margin: 5px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 500px) {

  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color:rgb(230, 54, 84);
    z-index: 1;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }

  .main{
    height: 120vh;
  }

  .wrapper{
    height: 125vh;
  }

  .show-menu {
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }

  .menu li {
    margin: 2em;
  }

  .menu li:hover a{
    background-color: rgb(230, 54, 84);
    color: rgb(51, 3, 51);
  }
  

  .toggle-menu {
    display: block;
  }

  .fa-bars {
    font-size: 1.5em;
    margin-top: -.2em;
  }

  .toggle-menu .fa-close {
    font-size: 1.7em;
    display: none;
  }

  .main,
  .about {
    display: flex;
    flex-direction: column-reverse;
  }

  .main img {
    width: min(100%, 450px);
    height: 550px;
  }

  .about img{
    width: min(60%, 230px);
    height: 400px;
  }

  .info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info-content .sotial-networks,
  .info-content__subtitle {
    display: block;
  }

  .info-content__subtitle {
    margin-bottom: .5em;
  }

  .info-content .sotial-networks {
    display: flex;
    justify-content: space-evenly;

  }

  .info-content__p,
  .img-cont{
    display: none;
  }

  .info-content__p1{
    display: block;
  }

  .form-group {
    width: 80vw;
  }

  .portfolio .container1{
    height: 895vh;
    display: flex;
    flex-direction: column-reverse;
  } 

  .info-content2{
    height: 10px;
  }

  .info-content3{
    height: 10px;
    padding-top: 0;
  }
  

  .portfolio .portfolio-heading{
    height: 1130vw;
    padding:1em;
  }

  .portfolio{
    height: 1170vw;
  }

  .portfolio .container{
    display: flex;
    flex-direction: column-reverse;
    height: 500vh;
  }

  .portfolio .container2{
    display: flex;
    flex-direction: column-reverse;
    height: 700vh;
  }

  /* .card{
    height: auto;
  } */

  .contact-section{
    padding:1em;
  }

  .contact-form{
    margin-left: 0px;
  }

  .container-contact{
    padding: 1em;
  }

  .footer{
    width: 100vw;
    height: 480px;
    padding: 2em;
    text-align: center;
  }

  .card1{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }

  .card1 .info-content1 img{
    width: 100%;
    margin: 0;
  }

  .card1 .i-close{
    right: -150px;
  }

  .img4{
    width: 440px;
    height: 170px;
    margin: 5px;
    margin-top: 25px;
  }
}
